* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
i,
svg {
  pointer-events: none;
}
.kick-pad,
.snare-pad,
.hihat-pad {
  width: 3rem;
  height: 3rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}
.kick-pad {
  background-color: rgb(160, 211, 224);
}
.snare-pad {
  background-color: rgb(224, 160, 208);
}
.hihat-pad {
  background-color: rgb(224, 194, 160);
}
.kick-pad.active {
  background-color: rgb(59, 197, 231);
}
.snare-pad.active {
  background-color: rgb(218, 58, 178);
}
.hihat-pad.active {
  background-color: rgb(241, 158, 64);
}

.sequencer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.kick-track,
.snare-track,
.hihat-track {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
  margin-top: 5rem;
}
.kick,
.snare,
.hihat {
  display: flex;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin: 0rem 2rem;
}

.controls button {
  padding: 0.8rem;
  border: none;
  background: rgb(88, 88, 88);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.pad {
  transition: all 0.6s ease;
}
.play {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background: rgb(88, 88, 88);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}
select {
  padding: 0.8rem;
  font-size: 0.9rem;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
